.textBox {
    position: relative;
    pointer-events: none;
    user-select: none;
    height: 125px;
    overflow: hidden;
}

.words {
    font-family: monospace;
    display: flex;
    row-gap: 0.7rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.caret {
    position: absolute;
    width: 0.9em;
    height: 0.2em;
    background-color: #5a38ee;
    margin-top: 2.1em;
    transition: 0.2s ease all;
}

.letter {
    display: inline-block;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    transition: 0.2s ease all;
}

.letter.error {
    color: red
}

.letter.okey {
    color: var(--primary-text-color)
}

.letter.underline {
    color: var(--secondary-text-color);
    text-decoration: underline red 2px;
    transition: 0.2s ease all;
}
