.configTestWrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 12px;
}

.spacer {
    height: 2.2rem;
    width: 0.2rem;
    background-color: var(--background-color);
    border-radius: 2px;
}

.puncAndNum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    justify-items: center;
    /*background-color: var(--primary-color);*/
    border-radius: 12px;
    color: var(--secondary-text-color);
    padding: 0 1rem;
}

.puncAndNum:hover {
    cursor: pointer;
}

.mode {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    justify-items: center;
    border-radius: 12px;
    color: var(--secondary-text-color);
    padding: 0 1rem;
}

.mode:hover {
    cursor: pointer;
}

.modeItem, .puncAndNumItem, .time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modeItem:hover, .puncAndNumItem:hover, .timeItem:hover, .wordsItem:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.3s ease all;
}

.time, .words {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 0.5rem;
    border-radius: 12px;
    color: var(--secondary-text-color);
    padding: 0 1rem;
}

.time:hover, .words:hover {
    cursor: pointer;
}

.modeItem, .timeItem, .puncAndNumItem, .wordsItem {
    font-weight: 500;
}

.active {
    color: var(--secondary-color)
}