* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentWrapper {
    display: grid;
    grid-auto-columns: auto 1fr auto;
    gap: 2rem;
    padding: 3rem;
    min-height: 100vh;
    align-content: space-between;
}
